body {
    background-color: #eee;
    color: #222;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button{
    background-color: #222;
    color: #eee;
    padding: 15px;
    font-size: 150%;
    font-weight: bolder;
}

.dark-mode {
    background-color: #222;
    color: #eee;
    button{
        background-color: #eee;
        color: #222;
    }
}
